In [227]:
import pandas as pd
import numpy as np

In [235]:
df = pd.read_csv("full_data.csv")
target = pd.read_csv("C://Users//Ergney//Downloads//data//sample_submission.csv")

In [236]:
df = df.drop(columns=["Unnamed: 0", "target"])
df = pd.merge(df, target, on='id', how='inner')

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790449 entries, 0 to 790448
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        790449 non-null  object
 1   buy_in_this_m             790449 non-null  int64
 2   buy_in_this_q             790449 non-null  int64
 3   buy_in_this_y             790449 non-null  int64
 4   buy_in_this_3y            790449 non-null  int64
 5   buy_all                   790449 non-null  int64
 6   last_buy                  790449 non-null  int64
 7   c_buy_in_this_m           790449 non-null  int64
 8   c_buy_in_this_q           790449 non-null  int64
 9   c_buy_in_this_y           790449 non-null  int64
 10  c_buy_in_this_3y          790449 non-null  int64
 11  c_by_all                  790449 non-null  int64
 12  c_last_buy                790449 non-null  int64
 13  share_category            790449 non-null  float64
 14  share_category_in_this_y  790449 non-null  float64
 15  share_category_in_this_q  790449 non-null  float64
 16  share_category_in_this_m  790449 non-null  float64
 17  interest_category_in_m    790449 non-null  float64
 18  interest_category_in_q    790449 non-null  float64
 19  interest_category_in_y    790449 non-null  float64
 20  interest_buy_y            790449 non-null  float64
 21  interest_buy_q            790449 non-null  float64
 22  interest_buy_m            790449 non-null  float64
 23  target                    790449 non-null  int64
dtypes: float64(10), int64(13), object(1)
memory usage: 150.8+ MB

In [238]:
df['target'].loc[(df['c_buy_in_this_m'] > 10) & (df['c_buy_in_this_m'] < 30)].mean()

0.5510204081632653

In [239]:
df['target'].loc[(df['c_buy_in_this_m'] > 10) & (df['c_buy_in_this_m'] < 15)].mean()

0.5714285714285714

In [240]:
df['target'].loc[(df['c_buy_in_this_m'] > 5) & (df['c_buy_in_this_m'] < 15)].mean()

0.5117739403453689

In [241]:
df['target'].loc[(df['c_buy_in_this_m'] > 2) & (df['c_buy_in_this_m'] < 10)].mean()

0.501455286327585

In [242]:
df.loc[(df['c_buy_in_this_m'] != 0), "buy_category_in_mounth"] = 1
df["buy_category_in_mounth"] = df["buy_category_in_mounth"].fillna(0)
df.loc[(df['c_buy_in_this_q'] != 0), "buy_category_in_quarter"] = 1
df["buy_category_in_quarter"] = df["buy_category_in_quarter"].fillna(0)
df.loc[(df['c_buy_in_this_y'] != 0), "buy_category_in_year"] = 1
df["buy_category_in_year"] = df["buy_category_in_year"].fillna(0)

In [243]:
df[["buy_category_in_mounth","buy_category_in_quarter","buy_category_in_year","last_buy","c_last_buy"]]

,buy_category_in_mounth,buy_category_in_quarter,buy_category_in_year,last_buy,c_last_buy
0,1.0,1.0,1.0,1,10
1,1.0,1.0,1.0,1,10
2,1.0,1.0,1.0,1,10
3,0.0,1.0,1.0,1,46
4,1.0,1.0,1.0,1,10
...,...,...,...,...,...
790444,1.0,1.0,1.0,1,2
790445,1.0,1.0,1.0,1,1
790446,1.0,1.0,1.0,1,2
790447,1.0,1.0,1.0,1,2
790448,1.0,1.0,1.0,1,1

In [244]:
feature = ["buy_category_in_mounth", "buy_category_in_quarter", "buy_category_in_year", "last_buy", "c_last_buy"]
df_t = df[feature]

In [245]:
df_t.describe()

,buy_category_in_mounth,buy_category_in_quarter,buy_category_in_year,last_buy,c_last_buy
count,790449.000000,790449.000000,790449.000000,790449.000000,790449.000000
mean,0.359375,0.693325,0.992851,14.947851,84.876530
std,0.479818,0.461114,0.084250,18.218457,100.938571
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,2.000000,19.000000
50%,0.000000,1.000000,1.000000,8.000000,51.000000
75%,1.000000,1.000000,1.000000,21.000000,111.000000
max,1.000000,1.000000,1.000000,89.000000,1884.000000

In [246]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [247]:
x_train, x_test, y_train, y_test = train_test_split(df_t, df["target"], test_size=0.3, random_state=0)

In [248]:
from sklearn.neighbors import KNeighborsClassifier

In [249]:
model = KNeighborsClassifier()
scaler = StandardScaler()

In [250]:
#x_train['last_buy'] = x_train['last_buy']/x_train['last_buy'].max()

In [251]:
#x_train['c_last_buy'] = x_train['c_last_buy']/x_train['c_last_buy'].max()

In [252]:
x_train

,buy_category_in_mounth,buy_category_in_quarter,buy_category_in_year,last_buy,c_last_buy
569164,1.0,1.0,1.0,7,27
645265,0.0,1.0,1.0,17,39
121124,0.0,0.0,1.0,0,114
339917,1.0,1.0,1.0,0,26
105569,0.0,0.0,1.0,47,241
...,...,...,...,...,...
359783,1.0,1.0,1.0,8,15
152315,1.0,1.0,1.0,0,26
117952,0.0,0.0,1.0,42,214
435829,0.0,1.0,1.0,64,64
305711,0.0,1.0,1.0,1,57

In [253]:
model.fit(x_train, y_train)

KNeighborsClassifier()

In [254]:
from sklearn.metrics import f1_score

In [255]:
f1_score(y_train, model.predict(x_train))

0.5319677018455061

In [256]:
f1_score(y_test, model.predict(x_test))

0.5028203871907937

In [257]:
x = model.predict(df_t)

In [258]:
result = pd.DataFrame({"id":df["id"].values, "target":x})

In [259]:
result['target'] = result['target'].astype('int64')

In [260]:
result

               id  target
0             0;5       1
1            0;10       1
2            0;14       1
3            0;20       0
4            0;22       1
...           ...     ...
790444  19998;398       0
790445  19998;409       0
790446  19998;415       0
790447  19998;420       0
790448  19998;798       0

[790449 rows x 2 columns]

In [261]:
result.to_csv('final_result2.csv', index=False)

In [262]:
from sklearn.ensemble import RandomForestClassifier

In [263]:
model2 = RandomForestClassifier(n_estimators=200, max_depth=200, min_samples_leaf=10)

In [264]:
model2.fit(x_train, y_train)

RandomForestClassifier(max_depth=200, min_samples_leaf=10, n_estimators=200)

In [265]:
f1_score(y_train, model2.predict(x_train))

0.5544344169682061

In [266]:
f1_score(y_test, model2.predict(x_test))

0.5074378515092016

In [267]:
x2 = model2.predict(df_t)
result2 = pd.DataFrame({"id":df["id"].values, "target":x})
result2['target'] = result2['target'].astype('int64')

In [268]:
result2.to_csv('final_result3.csv', index=False)